*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.navbar{
    background-color:#2d3e50 !important ;
}
.avatar-container{
    background-color:#1bbc9b ;
}
.img-avatar{
    width: 15rem;
}
.about-container{
    background-color:#1bbc9b ;
}
p{
    font-size: 1.25rem;
    font-weight: 300px;
}
.footer{
    background-color:#2d3e50 ;
}
.container-copyright{
    background-color:#1b252f ;
}